$fontSizes: (
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    17,
    18,
    19,
    20,
    22,
    24,
    26,
    28,
    30,
    35,
    40,
    50,
    60,
    70,
    80,
    90,
    100
);

@each $fontSize in $fontSizes {
    $fs: $fontSize/10;

    .f-s-#{$fontSize} {
        font-size: $fs + rem;
        @if $fontSize==16 {
            @include sm {
                font-size: 16px;
            }
        }
    }
}

$fontWeights: (100, 200, 300, 400, 500, 600, 700, 800, 900);

@each $fw in $fontWeights {
    .f-w-#{$fw} {
        font-weight: $fw;
    }
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.text-color-primary {
    color: $theme-main-1;
}

.text-color-white {
    color: $white;
}

.text-color-white-l {
    color: $white-l;
}

.text-color-font-l {
    color: $font-l;
}

.text-color-font-l2 {
    color: $background-d;
}

.warning {
    color: $important-2;
}

.danger {
    color: $important-4;
}

.important-3 {
    color: $important-3;
}
.info-5 {
    color: $info-5;
}

.important-1 {
    color: $important-1;
}
// Style for text properties
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.gigant-text {
    font-size: 55px;
}

.xx-large-text {
    font-size: 46px;
}

.x-large-text {
    font-size: 36px;
}

.large-text {
    font-size: 26px;
}

.big-text {
    font-size: 20px;
}

.medium-text {
    font-size: 16px;
}

.font-15 {
    font-size: 15px;
}

.small-text {
    font-size: 13px;
}

.x-small-text {
    font-size: 10px;
}

.headline {
    margin: 5px;
}

.no-text-transform {
    text-transform: none;
}

.no-text-transform-i {
    text-transform: none !important;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.letter-spacing-minus-0-2 {
    letter-spacing: -0.2px;
}

.letter-spacing-0-5 {
    letter-spacing: 0.5px;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.letter-spacing-1-5 {
    letter-spacing: 1.5px;
}

.one-line-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.break-text {
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
}

.bold {
    font-weight: 700;
}

.bolder {
    font-weight: 900;
}

.custom-link {
    &:link {
        color: $theme-main-2;
        text-decoration: none;
    }

    &:visited {
        color: $theme-main-2;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
        font-size: 1.1em;
        color: $theme-main-4;
    }

    &:active {
        color: $theme-main-2;
        text-decoration: none;
    }
}
