#nav {
    width: 70px;
    background-color: $theme-main-1;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    transition: all 0.2s ease-in-out;

    .navContainer {
        height: calc(100% - 100px);
    }
    .logoContainer {
        border-bottom: 1px solid rgba($background, 0.4);
        height: 100px;
        a {
            height: 100%;
            img {
                max-height: 90%;
            }
        }
    }
    ul {
        li {
            height: 50px;
            a {
                text-decoration: none;
                transition: all 0.2s ease-in-out;
                position: relative;
                span {
                    line-height: 0;
                    position: relative;
                    z-index: 3;

                    &.icon {
                        &:before {
                            height: 35px;
                            top: 50%;
                            left: 50%;
                            transform-origin: left;
                            transform: translate(-50%, -50%);
                            width: 35px;
                            border-radius: 8px;
                            background-color: $theme-main-2;
                            content: "";
                            position: absolute;
                            transition: all 0.2s ease-in-out;
                            z-index: -1;
                            opacity: 0;
                        }
                    }

                    .fill {
                        max-height: 30px;
                        path {
                            transition: all 0.2s ease-in-out;
                            fill: $white;
                        }
                    }
                    &.label {
                        margin-left: 2rem;
                        transform: scaleX(0);
                        opacity: 0;
                        transition: opacity 0.2s ease-in-out;
                        transform-origin: left;
                    }
                }
                &:hover {
                    .icon {
                        &:before {
                            opacity: 0.9;
                        }
                    }
                }
                &.active {
                    color: $white;
                    span {
                        &.icon {
                            &:before {
                                opacity: 1;
                            }
                        }
                        .fill {
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    &.open {
        width: 250px;
        box-shadow: 0 0 22px $background-d;
        ul {
            li {
                a {
                    span {
                        &:before {
                            border-radius: 0 8px 8px 0;
                            left: -20px;
                            transform: translate(0, -50%);
                            width: 220px;
                        }
                    }
                }
            }
        }
        .label {
            transform: scale(1);
            opacity: 1;
        }
    }
}
