.bg-transparent {
    background-color: transparent;
}

.bg-blue-10 {
    background-color: $blue-10;
}

.bg-light-6 {
    background-color: $light-6;
}

.bg-light-4 {
    background-color: $light-4 !important;
}

.bg-light-7 {
    background-color: $light-7;
}

.bg-light-8 {
    background-color: $light-8;
}

.bg-light-9 {
    background-color: $light-9;
}
//********** classes for every color in the list above:  ***************//

.bg-boja-3,
.background-boja-3 {
    background-color: $boja-3;
}

.bg-boja-1,
.background-boja-1 {
    background-color: $boja-1;
}

.bg-boja-2,
.background-boja-2 {
    background-color: $boja-2;
}

.bg-theme-main-1,
.background-theme-main-1 {
    background-color: $theme-main-1;
}

.bg-theme-main-2,
.background-theme-main-2 {
    background-color: $dark-5;
}

.bg-theme-main-3,
.background-theme-main-3 {
    background-color: $theme-main-3;
}

.bg-theme-main-4,
.background-theme-main-4 {
    background-color: $theme-main-4;
}

.bg-theme-main-5,
.background-theme-main-5 {
    background-color: $theme-main-5;
}

.bg-theme-main-6,
.background-theme-main-6 {
    background-color: $theme-main-6 !important;
}

.dark-4 {
    color: $dark-4;
}

// Colors used for background:
.bg-date-1,
.background-date-1 {
    background-color: $datepickerColor;
}

.bg-dark-3,
.background-dark-3 {
    background-color: $dark-3;
}

.bg-dark-2,
.background-dark-2 {
    background-color: $dark-2;
}

.bg-dark-1,
.background-dark-1 {
    background-color: $dark-1;
}

.bg-light-5,
.background-light-5 {
    background-color: $light-5;
}

.bg-light-3,
.background-light-3 {
    background-color: $light-3;
}

.bg-light-2,
.background-light-2 {
    background-color: $light-2;
}
.bg-light-11,
.background-light-11 {
    background-color: $light-11;
}

.bg-light-10,
.background-light-10 {
    background-color: $light-10;
}

.bg-light-1,
.background-light-1 {
    background-color: $theme-bg-light;
}

.bg-white {
    background-color: $white;
}

// Colors for specific use cases

.bg-important-1,
.background-important-1 {
    background-color: $important-1;
}

.bg-important-2,
.background-important-2 {
    background-color: $important-2;
}

.bg-important-3,
.background-important-3 {
    background-color: $important-3;
}

.bg-important-4,
.background-important-4 {
    background-color: $important-4;
}
.bg-important-5,
.background-important-5 {
    background-color: $important-5;
}

.bg-info-1,
.background-info-1 {
    background-color: $info-1;
}

.bg-info-2,
.background-info-2 {
    background-color: $info-2;
}

.bg-info-3,
.background-info-3 {
    background-color: $info-3;
}

.bg-info-4,
.background-info-4 {
    background-color: $info-4;
}

.bg-info-5,
.background-info-5 {
    background-color: $info-5;
}
