.courseOverview-header {
    border-bottom: solid 1px #ededed;
    &-title {
        color: $dark-2;
    }
}
.file-input-course {
    width: 100vh;
}
.dotted-border-1 {
    border: 1px dotted black;
}

.course-preview {
    border: 1px solid #ededed;
    border-radius: 14px;
    min-height: 200px;
    &:hover {
        box-shadow: 0 0 4px 7px $light-11;
    }
}

.generationsSpan {
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    background-color: $light-4;
    color: $light-1;
    padding: 3px;
    min-width: 80px;
}

.calendarSpan {
    font-size: 11px;
    color: $light-1;
    background-color: white;
    font-weight: 400;
}

.courseImage {
    font-size: 12px;
    font-weight: 500;
    color: #4d4f5c;
}
