.edit-profile {
    .photo {
        width: 144px;
        height: 144px;
        border-radius: 50%;
        align-self: center;
        object-fit: cover;
        background: #f6f6f6 0% 0% no-repeat padding-box;
        border: 1px solid #e1e2e7;
    }

    .remove-photo {
        background: unset;
        border: unset;
        width: 100px;
        height: 50px;
        letter-spacing: 0px;
        font-size: 12px;
        color: $theme-main-1;
        cursor: pointer;
    }
    .change-password {
        width: 100%;
        background: $light-9 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal 600 12px/16px;
        letter-spacing: 0px;
        border: 0px solid $theme-main-6;
        outline: none;
        padding: 0 1rem;
        font-size: 1.6rem;
        position: relative;
        z-index: 1;
        line-height: 1;
        color: $dark-5;
        align-items: center;
    }
    .cvField {
        width: 100%;
        height: 65px;
        background: $light-9 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal 600 12px/16px;
        letter-spacing: 0px;
        border: 0px solid $theme-main-6;
        outline: none;
        padding: 0 1rem;
        font-size: 1.6rem;
        position: relative;
        z-index: 1;
        line-height: 1;
        color: $dark-5;
        align-items: center;
    }
    .cvLabel {
        text-align: left;
        font-size: 12px;
        font-weight: 600;
        color: $dark-5;
        padding: 0.5rem;
    }
    .password-link {
        cursor: pointer;
        color: $theme-main-4;
        &:link {
            color: $theme-main-4;
            text-decoration: none;
        }

        &:visited {
            color: $theme-main-4-d-10;
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
            color: $theme-main-4-d-10;
        }

        &:active {
            color: $theme-main-4;
            text-decoration: none;
        }
    }
    .labels {
        text-align: left;
        // font-family: $fontContent;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0px;
        color: $dark-5;
        // position: absolute;
        // top: 50%;
        // left: 0.5rem;
        // transform: translateY(-50%);
        // font-size: 1.3rem;
        // background: $white;
        // transition: all 0.2s ease-in-out;
        z-index: 2;
        display: block;
        cursor: text;
        padding: 0.5rem 0.5rem;
        pointer-events: none;
        line-height: 1;
        &.label-xs {
            font-size: 0.6rem !important;
        }
        &.label-s {
            font-size: 1rem !important;
            padding: 0.5rem 0.1rem !important;
        }
    }
    .socialInputsContainer {
        border: 1px solid $light-8;
        padding-left: 10px;
        border-radius: 5px;
        .inputComponent {
            width: 100%;
        }
    }
    .socialInputs {
        background-color: $white !important;
        font-weight: unset !important;
        padding-bottom: 10px !important;
    }
    .inputWrapper {
        &.hasText {
            label {
                font-size: 1.2rem;
                top: 0;
                color: $dark-5;
            }
        }
    }
    .password-title {
        font-size: 18px;
        color: $dark-5;
        font-weight: 600;
    }
}
