.sorters {
    text-align: left;
    letter-spacing: 0px;
    color: #5c5f65;
    opacity: 1;
    font-size: 12px;
    div {
        font-size: 13px;
        min-width: 125px;
        margin-right: 20px;
    }
    .arrow {
        width: 10px;
        font-weight: 700 !important;
        fill: $light-4 !important;
        &.active {
            fill: $dark-orange-1 !important;
        }
    }
}
