.groupOverview-header {
    border-bottom: solid 1px #ededed;

    width: 97%;
    &-title {
        color: $dark-2;
    }
}

.sorter {
    &-wrapper {
        font-size: 1.2rem;
        color: $light-3;
    }

    &-arrow {
        fill: $light-3;
    }
}

.basicInfo {
    .studentsInput {
        height: 45px;
        background-color: $light-9;
        border-radius: 4px;
    }
}
