.taskPreview-wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white 0% 0% no-repeat padding-box;
    border: 1px solid $light-8;
    border-radius: 14px;
    opacity: 1;
    margin: 10px;
    // min-height: 300px;
    cursor: pointer;
    .calendar {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        .a {
            fill: none;
            stroke: $theme-main-1;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 2px;
        }
    }
    &:hover {
        box-shadow: 0 0 4px 7px $light-11;
    }
    .showMoreIcon {
        fill: $dark-5 !important;
    }
    .awardIcon {
        width: 15px;
        height: 17px;
        .a {
            fill: none;
            stroke: $dark-orange-1;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 2px;
        }
    }
}
.sessionNumber {
    opacity: 1;
    background: #e1e2e7;
    height: 30px;
    align-items: center;
    border-radius: 25px;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 400;
    .number {
        color: $dark-5;
        margin-right: 10px;
    }
}
.shortDescription {
    text-align: left;

    font-size: 16px;

    letter-spacing: 0px;
    color: $text-default;
    opacity: 1;
    width: 70%;
}
.points {
    background: #e1e2e7;
    height: 40px;
    border-radius: 10px;
    padding: 8px 10px;
    align-items: center;
    .number {
        color: $dark-5;

        margin-left: 3px;
        font-size: 13px;
    }
}
.finishBy {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    color: $dark-5;
    opacity: 1;
    span {
        vertical-align: middle;
    }
}
.relatedCourse {
    border: 1px solid $light-8;
    border-radius: 14px;
    opacity: 1;
    height: 40px;
    padding: 10px;
    color: $dark-5;
    font-size: 12px;
}
// .group-difficulty {
//     width: 70px;
//     &-div {
//         width: 9px;
//         height: 14px;
//         border-radius: 10px;
//         background-color: rgb(202, 200, 200);
//     }
//     &-active {
//         background-color: $theme-main-1;
//     }
// }
@include sm {
    .sessionNumber {
        font-size: 10px !important;
        margin-right: 5px;
    }
    .points .number {
        font-size: 10px;
    }
}
.calendar {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    .a {
        fill: none;
        stroke: $theme-main-1;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
    }
}
@include md {
    .sessionNumber {
        font-size: 10px;
        margin-right: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .points .number {
        font-size: 10px;
    }
}
@include lg {
    .points .number {
        font-size: 10px;
    }
}
