.checkboxWrapper {
    input {
        display: none;
    }
    label {
        display: block;
        height: 25px;
        width: 25px;
        background-color: $white;
        border: 1px solid greenyellow;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        svg {
            path {
                transition: all 0.1s ease-in-out;
                opacity: 0;
                fill: $white;
            }
        }
        &:hover {
            background: $background;
        }
    }
    input:checked {
        & ~ label {
            background-color: green;
            svg {
                path {
                    opacity: 1;
                }
            }
        }
    }
}
