.toastNotifications{
    background-color: $white;
    position: fixed;
    right: -100%;
    top: 7rem;
    max-height: 200px;
    width: 400px;
    border: 1px solid #efefff;
    box-shadow: 0 5px 20px 0 rgba($theme-main-1,0.2);
    border-radius: 16px;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    &.visible{
        right: 2rem;
    }
    .toastNotification{
        min-height: 40px;
        border-radius: 8px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        transition: all 0.1s ease-in-out;

        .close{
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px 5px 0 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 8px;
            transition: all 0.1s ease-in-out;
            &:hover{
                background-color: rgba(black,0.2);
            }
            svg{
                transform: translateX(3px);
                path{
                    fill:$white;
                }
            }
        }
       
        .notificationContainer{
            min-height:40px;
            width: 100%;
            color: $white;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            
        }
        &.type-1
        {
            background-color: $info-1;
            &:hover{
                background-color: darken($info-1,5%);
            }
        }
        &.type-2
        {
            background-color: $info-1;
            &:hover{
                background-color: darken($info-1,5%);
            }
        }
        &.type-3
        {
            background-color: $important-1;
            &:hover{
                background-color: darken($important-1,5%);
            }
        }
        &.type-4
        {
            background-color: $important-3;
            &:hover{
                background-color: darken($important-3,5%);
            }
        }
        &.type-5
        {
            background-color: $important-5;
            &:hover{
                background-color: darken($important-5,5%);
            }
        }
    
    }
}