$margins: (
    -70,
    -50,
    -5,
    -1,
    0,
    1,
    4,
    5,
    10,
    15,
    20,
    25,
    30,
    35,
    40,
    45,
    50,
    60,
    70,
    80,
    90,
    100,
    120
);

@each $margin in $margins {
    $marginRem: $margin/10;

    // All margins
    .margin-#{$margin},
    .m-#{$margin} {
        margin: $marginRem + rem;
    }
    // Horizontal margin
    .margin-h-#{$margin},
    .mx-#{$margin},
    .margin-horizontal-#{$margin} {
        margin-left: $marginRem + rem;
        margin-right: $marginRem + rem;
    }
    // Vertical margin
    .margin-v-#{$margin},
    .my-#{$margin} .margin-vertical-#{$margin} {
        margin-top: $marginRem + rem;
        margin-bottom: $marginRem + rem;
    }
    // Margin top
    .margin-t-#{$margin},
    .mt-#{$margin},
    .margin-top-#{$margin} {
        margin-top: $marginRem + rem;
    }
    // Margin right
    .margin-r-#{$margin},
    .mr-#{$margin},
    .margin-right-#{$margin} {
        margin-right: $marginRem + rem;
    }
    // Margin bottom
    .margin-b-#{$margin},
    .mb-#{$margin},
    .margin-bottom-#{$margin} {
        margin-bottom: $marginRem + rem;
    }
    //Margin left
    .margin-l-#{$margin},
    .ml-#{$margin},
    .margin-left-#{$margin} {
        margin-left: $marginRem + rem;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
