#header {
    position: fixed;
    left: 70px;
    top: 0;
    height: 50px;
    width: calc(100% - 70px);
    background-color: $white;
    z-index: 99999;
    .lang {
        line-height: 0;
    }
    .headerInfo {
        position: relative;
        z-index: 99999;
        width: 100%;
        background: $white;
    }
    .settings {
        position: absolute;
        right: 0;
        top: -190px;
        width: 350px;
        background: $white;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        z-index: -1;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        ul {
            list-style: none;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            li {
                min-height: 40px;
                &:not(:last-child) {
                    border-bottom: 1px solid $background;
                }
                .imgContainer {
                    img {
                        height: 50px;
                        width: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                padding: 0 1rem;
                transition: all 0.1s ease-in-out;
                color: $font-l;
                span {
                    max-height: 20px;
                    line-height: 1;
                    path {
                        transition: all 0.1s ease-in-out;
                    }
                }
                a {
                    text-decoration: none;
                    color: $font-l;
                    transition: all 0.1s ease-in-out;
                }
                &:hover {
                    background: $background;
                    color: $font;
                    span {
                        path {
                            fill: $theme-main-1;
                        }
                    }
                    a {
                        color: $font;
                    }
                    &.lock {
                        background-color: $important-2;
                        color: $white;
                        path {
                            fill: $white;
                        }
                    }
                    &.logout {
                        background-color: $important-5;
                        color: $white;
                        path {
                            fill: $white;
                        }
                    }
                }
            }
            .fill {
                path {
                    fill: rgba($theme-main-1, 0.6);
                }
            }
        }
        &.visible {
            top: 100%;
            box-shadow: 0 5px 20px 0 $background;
        }
    }
    .notifications {
        position: absolute;
        right: -360px;
        top: 50px;
        width: 350px;
        background: $white;
        z-index: 1;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        height: calc(100vh - 50px);
        &.visible {
            right: 0;
            box-shadow: -10px 20px 20px 0 $background;
        }
        .markAsRead {
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .notification {
            text-decoration: none;
            color: $font;
            min-height: 40px;
            width: 100%;
            border-bottom: 1px solid $background;
            position: relative;
            &:hover {
                background: $background;
            }
            .circle {
                // position: absolute;
                // right: 10px;
                // top: 50%;
                // transform: translateY(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $theme-main-2;
            }
        }
        ul {
            height: calc(100vh - 150px);
            overflow-y: auto;
            overflow-x: hidden;
            .imgContainer {
                img {
                    height: 27px;
                    width: 27px;
                    border-radius: 50%;
                    margin-top: 7px;
                }
            }
        }
    }
}
