// Theme colors
$theme-main-1: #43425d;
$theme-main-1-d: darken($theme-main-1, 10%);

$theme-main-2: #e69757;
$theme-main-2-d: darken($theme-main-2, 10%);

$theme-main-3: #0d70a0;
$theme-main-4: #064976;
$theme-main-5: #01325f;
$theme-main-6: #43425d;
$theme-main-7: #4d4f5c;

$theme-light-2: #d5f1ff;

$theme-bg-light: #f1f2f3;

$background: #efefff;
$background-d: darken($background, 10%);

$themeGradient: linear-gradient(245deg, #fad961 0%, #f76b1c 100%);

// Colors used for background
$dark-1: #424242;
$dark-2: #212121;
$dark-3: #181818;
$dark-4: #404040;

$light-1: #616161;
$light-2: #7f7f7f;
$light-3: #9e9e9e;
$light-4: #e0e0e0;
$light-5: #fafafa;
$light-6: #f2f2f2;
$light-7: #d9d9d9;

// Colors for specific use cases
$important-1: #ffc107;
$important-2: #fcae53;
$important-3: #ff5722;
$important-4: #f44336;
$important-5: #ff0000;

$info-1: #31b3e5;
// $info-2: #00c47b;
$info-2: #598d82;
$info-3: #74b560;
$info-4: #00c47b;
$info-5: #00b300;

// Colors for session preview tab

$boja-1: #d3dbff;
$boja-2: #848ccf;
$boja-3: #f1e3cb;

//Datepicker
$datepickerColor: #e11d74;

//BLUE ADDED:
$blue-10: #1071b8;
$light-6: #f2f2f2;

$white: #ffffff;
$white-l: rgba($white, 0.5);
$font: #333333;
$font-l: #868686;
