#contextMenu {
    width: 250px;
    height: 200px;
    position: fixed;
    top: 300px;
    left: 300px;
    background-color: $white;
    border-radius: 4px;
    list-style: none;
    box-shadow: 0 0 20px rgba($background, 0.9);
    overflow: hidden;
    z-index: 9999999999999999999;
    border: 1px solid $background;
    li {
        height: 40px;
        border-bottom: 1px solid $background;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        padding: 1rem;
        color: $theme-main-1;
        &:hover {
            background-color: $background;
        }
        span {
            line-height: 1;
        }
        .contextIcon {
            path {
                transition: all 0.1s ease-in-out;
                fill: lighten($theme-main-1, 20%);
            }
        }
        &.contextDelete {
            &:hover {
                background-color: $important-4;
                color: $white;
                .contextIcon {
                    path {
                        fill: $white;
                    }
                }
            }
        }
    }
}
